<!-- CARROUSSEL -->
<div class="wrapper">

  <!-- HERO -->
  <div class="flexslider color-white">
    <ul class="slides">

      <!--  -->
      <li class="" style="background-image:url(<%= image_path('banner_inspiration.jpg')%>)">
        <!-- HERO TEXT -->
        <div class="hero-caption">
          <div class="hero-text">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <h1 class="montserrat text-uppercase text-super-xl m-b-40">Soyez inspirés</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END HERO TEXT -->
      </li>
      <!--  -->
    </ul>
  </div>
  <!-- END HERO -->
<!-- BY OUR MEMBER-->
  <section class="bg-white-dark p-t-80 p-b-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="module-header text-center">
            <h2 class="montserrat text-uppercase">Par nos membres</h2>
            <p class="lead divider-line">Regardez les balcons de nos membres</p>
           </div>
        </div>
      </div>
    </div>
  </section>
<!-- BY OUR MEMBER -->

<!-- IMAGE CAROUSEL -->
 <section class="divider-bottom">
   <div class="container">
     <div class="row">
       <div class="col-sm-12">
         <!-- START CARROUSSEL-->
         <div class="box-carousel p-t-40" data-carousel-options='{"items":"2", "navigation": true}'>
           <% Balcony.all.each do |balcony| %>
             <div class="item">
              <%= cl_image_tag balcony.photo, height: 400, width: 720, crop: :fill %>
              <p class="m-t-10 text-center"><%= balcony.user.first_name %>'s balcony</p>
              <%= link_to "Show", public_balcony_path(balcony), class: "btn btn-outline btn-base center-block" %>
             </div>
           <% end %>
         </div>
         <!-- END CAROUSEL-->
       </div>
     </div>
   </div>
 </section>
 <!-- END IMAGE CAROUSEL -->

 <!--  -->


  <!-- END GALLERY -->>
